table(width=max_w align="center" class="mobile-table" bgcolor=white)&attributes(tableAtt)
  +vSpacer(20)
  tr
    td&attributes(tdCenter)(bgcolor=white style="background-color: #ffffff;")
      +addImg("arrow-up.png", "alt arrow")(width="46" height="22")
  tr
    td(style="background-color:#1b9ba3;" bgcolor="#1b9ba3;")&attributes(tdCenter)
      table(width="100%")&attributes(tableAtt)
        tr
          td&attributes(tdCenter)
            table(width="100%")&attributes(tableAtt)
              +vSpacer(35)
              tr
                td
                  table(width="100%")&attributes(tableAtt)
                    tr
                      +hSpacer(35)
                      td(width="100%")&attributes(tdCenter)
                        table&attributes(tableAtt)
                          tr
                            each icon in social_icons
                              +hSpacer(10)
                              td(width=icon.width height=icon.height)&attributes(tdCenter)
                                a(href=icon.url target="_blank")
                                  img(src=img_path+icon.img width=icon.width height=icon.height style="display: inline-block; border: 0px;")
                              +hSpacer(10)
                            +hSpacer(10)
                            td(width="60" style="font-size: 20px; line-height: 24px;").f_normal
                              +link("#", "BLOG").white.no-underline
                      +hSpacer(35)
              +vSpacer(35)
              +dividerLine(20, "#48afb5;")
